body {
  margin: 0;
  text-align: center;
font-size: 1.5rem;
  color:white;
  background-color: #000000;
}

.top-container {
  background-color: white;
  padding-top: 100px;
  position: relative;
}
p{
  line-height: 2;
  font-family: DM sans;
}
h1 {
  font-size: 5.265rem;
  margin: 50px auto 0 auto;
  color: #FF0000;
  font-family: Source Serif Pro;
}

h2 {
  padding-bottom: 10px;
  font-size: 2.5rem;
  color: #950101;
  font-weight: normal;
  font-family: Jost;
}

h3 {
  color: #950101;
  font-family: jost;
}

a {
  padding: 20px;
  text-decoration: none;
  color: #950101;
  font-family: DM sans;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 400px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.middle-container {
  margin: 100px 0;
}
.oneP{
  width: 30%;
  margin: auto;
}
.manimg{
width: 12%;
}

.skill-row {
  margin: 200px auto;
  width: 50%;
  text-align: left;

}

hr{
  border-style: hidden;
  color: #FF0000;
  border-width: 10px;
  border-top-style: dotted;
  width: 5%;
  margin:100px auto;
}
.skillsp{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skillspng{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.contact-me{
  margin: 100px;
}
.ContactMassage{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #950101;
  background-image: -webkit-linear-gradient(top, #950101, #FF0000);
  background-image: -moz-linear-gradient(top, #950101, #FF0000);
  background-image: -ms-linear-gradient(top, #950101, #FF0000);
  background-image: -o-linear-gradient(top, #950101, #FF0000);
  background-image: linear-gradient(to bottom, #950101, #FF0000);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 10px;
  font-family: jost;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3D0000;
  background-image: -webkit-linear-gradient(top, #3D0000, #3D0000);
  background-image: -moz-linear-gradient(top, #3D0000, #3D0000);
  background-image: -ms-linear-gradient(top, #3D0000, #3D0000);
  background-image: -o-linear-gradient(top, #3D0000, #3D0000);
  background-image: linear-gradient(to bottom, #3D0000, #3D0000);
  text-decoration: none;
}
.bottom-container {
  background-color: white;
  padding: 40px 0 20px 0;
}

a:hover{
  color: #000000;
}
.footercopy{
  color:#000000;
  margin:0;
  font-size: 1rem;
  padding: 20px;
}
.black{
  color:#000000;
}
.footer-logo{
  width: 3%;
}
